body{
    background-color: #b0c4de;
}

.teacher_desk{
    text-align: center;
    margin:20px; 
    background-color: white;
}
.desk{
    background-color: white;
}
.classroom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bun{
    text-align: center;
    font-size: 30px;
    margin: 100px;
}
input{
    font-size: 20px;
}
button{
    font-size: 20px;
}
span{
    font-size: 20px;
}

.mae_num{
    width: 9%;
}
.mae_num_checked{
    background-color: black;
    color: wheat;
    width: 9%;
}
.desk_retsu{
    display: flex;    
}
.desk{
    width: 120px;
    height: 4rem;
    border: 1px solid black;
}
.teacher_desk{
    border: solid 1px black;
    padding: 20px;
}
.desk_btn{    
    padding: 0;
    width: 70px;
    height: 50px;
    margin: 10px;
    box-sizing: unset;
    cursor: pointer;
    background-color: black;
    appearance: none;
}.desk_btn:checked{
    background-color: white;
}.shaffle{
    cursor: pointer;
    border: 2px solid blue;
    background-color: #9c9cff;
    margin: 10px;
    border-radius: 99999;
    padding: 3px;
    border-radius: 99999px;
}

.item_none{
    display: none;
}
.item_hide{
    visibility:hidden;
}